<h1>店舗一覧</h1>
<%= form_tag admin_shops_path, method: :get, class: 'shop-search-form' do %>
    <%= text_field_tag :search, params[:search], placeholder: '店名を入力してください' %>
    <%= submit_tag '検索' %>
<% end %>  
<table class="shop-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>店名</th>
      <th>説明文</th>
      <th>URL</th>
      <th>登録日時</th>
      <th>更新日時</th>
    </tr>
  </thead>
  <tbody>
    <% @shops.each do |shop| %>
      <tr>
        <td><%= shop.id %></td>
        <td><%= shop.name %></td>
        <td><%= shop.explantory_text %></td>
        <td><a href="<%= shop.url %>"><%= shop.url %></a></td>
        <td><%= shop.created_at %></td>
        <td><%= shop.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
