<%= form_with(model: [@shop, @comment], url: shop_comments_path(@shop), local: true) do |form| %>
  <div class="form-group">
    <%= form.label :content, "コメント" %>
    <%= form.text_area :content, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :rate, "評価" %>
    <%= form.number_field :rate, min: 1, max: 5, step: 0.5, class: "form-control" %>
  </div>
  <%= form.submit "コメント投稿", class: "btn btn-primary" %>
<% end %>
  