<h3>編集ページ<h3>
<%= form_with(model: @shop, url: shop_path(@shop), method: :patch) do |form| %>
  <div class="shop_input">
    <%= form.label :name, "店名" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :explantory_text, "説明" %>
    <%= form.text_area :explantory_text %>
  </div>

  <div class="shop_input">
    <%= form.label :url, "店のURL" %>
    <%= form.text_field :url %>
  </div>

  <div class="shop_input">
    <%= form.label :address, "住所" %>
    <%= form.text_field :address %>
  </div>

  <div class="shop_input">
    <%= form.label :image, "画像" %>
    <%= form.file_field :image %>
  </div>

  <%= form.fields_for :tags do |tag_form| %>
    <% @tags.each do |tag| %>
      <div>
        <%= tag_form.label :name, "タグ" %>
        <%= tag_form.text_field :name, value: tag.name %>
      </div>
    <% end %>
  <% end %>

  <div>
    <%= form.submit "更新" %>
  </div>
<% end %>
