

<%= link_to '新規作成', new_shop_path %>
<h1>Shop List</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Explantory Text</th>
        <th>Completed</th>
        <th>Tag</th>
      </tr>
    </thead>
    <tbody>
      <% @shops.each do |shop| %>
        <tr>
          <td><%= shop.name %></td>
          <td><%= shop.explantory_text %></td>
          <td><%= shop.completed %></td>
          <td><%= shop.tags.pluck(:name).join(', ') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
