<%= link_to '新規作成', new_shop_path %>
<h1>Shop List</h1>

<div class="shop-list">
  <% @shops.each do |shop| %>
    <div class="shop-tile">
      <h2><%= shop.name %></h2>
      <div class="top_image">
        <% if shop.image.attached? %>
          <%= image_tag shop.image %>
        <% else %>
          <p>No image available</p>
        <% end %>
      </div>
      <p><%= shop.explantory_text %></p>
      <div class="tags">
        <%= shop.tags.pluck(:name).join(', ') %>
      </div>
      <%= link_to "詳細", shop_path(shop) %>
    </div>
  <% end %>
</div>