<h1>新規お店作成</h1>

<%= form_with(model: @shop, url: shops_path, local: true) do |form| %>
  <div>
    <%= form.label :name, "店名" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :explantory_text, "説明" %>
    <%= form.text_area :explantory_text %>
  </div>

  <div>
    <%= form.label :image, "イメージ" %>
    <%= form.file_field :image %>
    <%= image_tag @shop.image if @shop.image.attached? %>
  </div>

  <div>
    <%= form.label :tag_names, "タグ（カンマ区切り）" %>
    <%= form.text_field :tag_names %>
  </div>

  <div>
    <%= form.submit "作成" %>
  </div>
<% end %>
