<!-- app/views/shops/show.html.erb -->
<h1><%= @shop.name %></h1>
<p><%= @shop.explantory_text %></p>
<% if @shop.image.attached? %>
  <%= image_tag @shop.image %>
<% else %>
  <p>No image available</p>
<% end %>
<p>Tags: <%= @shop.tags.pluck(:name).join(', ') %></p>
<%= link_to "編集", edit_shop_path(@shop) %>
<%= link_to '削除', destroy_shop_path(@shop), method: :delete, data: { confirm: '本当に削除しますか？' } %>
