<h1><%= @shop.name %></h1>

<div class="btn_list">
  <% if current_user && current_user == @shop.user %>
    <div class="edit_btn">
      <%= link_to '編集', edit_shop_path(@shop) %>
    </div>
    <div class="del_btn">
      <%= link_to '削除', shop_path(@shop), method: :delete, data: { confirm: '本当に削除しますか？' } %>
    </div>
  <% end %>
  <div class="bookmark_btn">
    <% if current_user.bookmarks.exists?(shop_id: @shop.id) %>
      <%= link_to delete_bookmark_shop_path(@shop), method: :delete, class: "bookmark-btn" do %>
        <i class="fas fa-star bookmarked"></i>
      <% end %>
    <% else %>
      <%= button_to bookmark_shop_path(@shop), method: :post, class: "bookmark-btn" do %>
        <i class="far fa-star"></i>
      <% end %>
    <% end %>
  </div>
</div>

<div class="shop-details">
  <div class="shop-image">
    <% if @shop.image.attached? %>
      <%= image_tag rails_blob_url(@shop.image) %>
    <% end %>
  </div>
  <div class="shop-info">
    <p class="shop_text"><%= @shop.explantory_text %></p>
    <p><%= @shop.address %></p>
    <p><a href="<%= @shop.url %>"><%= @shop.url %></a></p>
    <div class="tags">
      <% @tags.each do |tag| %>
        <% hashtag_name = tag.name.gsub("#", "") %>
        <span class="tag"><%= link_to "##{tag.name}", hashtag_path(tag.name) %></span>
      <% end %>
    </div>
    <p>投稿者: <%= @shop.user.name if @shop.user %></p>
    <%= link_to 'レビューページへ', reviews_shop_path(@shop) %>
    <%= link_to "一覧に戻る", shops_path %>
  </div>
</div>


