<div class="profile-container">
  <div class="profile-image">
    <%#= image_tag @user.profile_image %>
  </div>
  <div class="profile-details">
    <%= form_with model: @user, local: true do |f| %>
      <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
      <div class="field">
        <%= f.label :hobby %>
        <%= f.text_field :hobby %>
      </div>
      <div class="field">
        <%= f.label :profile %>
        <%= f.text_field :profile %>
      </div>
      <br>
      <div>
        <%= f.submit "save" %>
      </div>
    <% end %>
  </div>
</div>
