<div class="profile-container">
  <div class="profile-image">
    <%#= image_tag @user.profile_image %>
  </div>
  <div class="profile-details">
    <%= form_with model: @user, local: true do |f| %>
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
      <div class="field">
        <%= f.label :hobby %>
        <%= f.text_field :hobby %>
      </div>
      <div class="field">
        <%= f.label :profile %>
        <%= f.text_field :profile %>
      </div>
      <div class="field">
        <%= f.label :avatar %>
        <%= f.file_field :avatar, onchange: 'previewImage()', class: 'form-control' %>
        <%= f.hidden_field :avatar_cache %><br>
        <%= image_tag @user.avatar.url, class: 'rounded-circle mt-3', id: 'preview', size: '200x200' %>
      </div>
      <div>
        <%= f.submit "save" %>
      </div>
    <% end %>
  </div>
</div>
