<div class="profile-container">
  <div class="profile-image">
    <%#= image_tag @user.profile_image %>
  </div>
  <div class="profile-details">
    <h1><%= current_user.name %></h1>
    <p>Email: <%= current_user.email %></p>
    <p>Password: <%= current_user.password %></p>
    <form action="<%= update_user_path(current_user) %>" method="post">
      <label for="hobby">Hobby:</label>
      <input type="text" id="hobby" name="hobby" value="<%= current_user.hobby %>">
      <br>
      <label for="profile">Profile:</label>
      <textarea id="profile" name="profile"><%= current_user.profile %></textarea>
      <br>
      <input type="submit" value="Save">
    </form>
  </div>
</div>
